
 html, body {
    margin:0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}


body{
    background-color: rgb(102, 209, 120);
}




.login{
    display: flex;
    background-color: rgb(83, 173, 251);
    width: 25vw;
    display: flex;
    margin: 20rem auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.loginButton{
    margin-bottom:  20px;
}