 html, body {
    margin:0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}
 
body{
    background-image: url(../images/rick.gif);
    background-size: cover;
    background-color: black;
}
h1{
    display:flex;
    color:white;
    font-size: 100px;
    justify-content: center;

}