
 html, body {
    margin:0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}


body{
    background-image: url(../images/towfiqu-barbhuiya-nApaSgkzaxg-unsplash.jpg);
    background-size: cover;

    
}

main{
    min-height: 60vh;
}


.login{
    display: flex;
    background-color: rgb(83, 173, 251);
    width: 25vw;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.loginInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.loginButton{
    margin-bottom:  20px;
}


#fcontainer{
    display:flex;
    background-color: transparent;
    color: white;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#fcontainer div{
    padding:15px
}
.loginHero{
    background-image: url(../images/towfiqu-barbhuiya-nApaSgkzaxg-unsplash.jpg);
    background-size: cover;
}
