 html, body {
    margin:0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}
 
 .navbar{
    position: fixed;
    top: 0;
    width:100%;
    margin: 0;
    z-index: 1000s;
    list-style-type: none;
    overflow: hidden;
    display:flex;
    background-color: #6aa0bd;
    flex-direction: row;
    align-items: center;
    

}

.navbar li  {
    background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  /* flex:1 1 auto; */
  overflow: hidden;
  border-radius: 30%;
}



#logo{
    height: 100px;
    width: auto;

    /* border-radius: 50px; */

} 


.hero{
    display:flex;
    /* justify-self: stretch; */
    flex-wrap: wrap;

}

.hero h1 {
    text-align: center;
    font-size: 100px ;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);

}

.hero img {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.circles{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    

}
.circles li {
    margin-top: 200px;
    font-size: 40px;
    text-align: center;
}

.circles img{
    border:1px solid black;
    border-radius: 100%;
    height: 400px;
    width: auto;
    max-width: fit-content;
}
